vendor/
bower_components/
node_modules/
public/img/products_imgs/*
public/img/users/*
.vscode
public/img/products_imgs
src/config/config.php
public/attachments/attendance/*
public/attachments/customer/*
public/attachments/billsToPay/*
public/vehicle/*
.sql

#macOs
.DS_Store
