/*menu mobile*/
.menu-btn, .menu-btn .fa-2x{
    top: 10px;
    left: 10px;
    z-index: 3;
    font-size: 25px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.menu-btn a{
    color: #515151;
    transition: all 0.2s ease-in-out;
    text-decoration: none !important;
}
.menu-btn a:hover{
    color: #009eff;
}
.mm-navbar {
    border-color: #515151;
}
.mm-title{
    color: #515151 !important;
    font-weight: 600;
    text-transform: uppercase;
}
.mm-navbar, .mm-listview, .mm-opened{
    background: #fff;
}
.mm-listview>li>a, .mm-listview>li>span{
    color: #515151;
}
.mm-listview>li:not(.mm-divider):after{
    border-color: #515151;
}
.mob-menu-active{
    color: #009eff !important;
}
.mob-social a{
    float: left;
    border: 0px !important;
    padding-right: 1px !important;
    padding-left: 20px !important;
}
/*---*/
.a-menu, .a-menu:focus, .a-menu:active{
    color: #515151;
    font-weight: 600;
    margin-right: 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-menu:hover{
    color: #009eff;
}
.a-menu-active{
    color: #009eff;
}
.no-mg-left{
    margin-left: 0px !important;
}
.no-mg-right{
    margin-right: 0px !important;
}
/*---*/
.a-rod, .a-rod:focus, .a-rod:active{
    color: #fff;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-rod:hover{
    color: #003d63;
}
.a-rod-active{
    color: #003d63;
}
.rod-menu p{
    padding: 0px;
    margin-bottom: 10px;
}
.a-whats-rod, .a-whats-rod:focus, .a-whats-rod:active{
    color: #AFAFAF;
    font-weight: 300;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-whats-rod:hover{
    color: #fff;
}
.show-xs-360{
    display: none;
}
/*---*/
.bg-rodape{
    color: #fff;
    /*padding-top: 50px;*/
    padding-top: 30px;
    background: #009eff;
    /*padding-bottom: 20px;*/
    padding-bottom: 0px;
}
.box-info-rodape{
    width: 100%;
    overflow: hidden;
    position: relative;
    /*margin-bottom: 30px;*/
    margin-bottom: 20px;
}
.rodape h4 {
    margin: 0px;
    color: #fff;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.rod-info{
    font-size: 15px;
    margin-bottom: 10px;
}
.rod-info span{
    width: 20px;
    text-align: center;
    display: inline-block;
}
/*---*/
.bg-direito{
    color: #fff;
    font-size: 15px;
    line-height: 26px;
    background: #008be0;
}
.box-direito{
    padding-top: 10px;
    padding-bottom: 10px;
}
.a-ydeal, .a-ydeal:focus, .a-ydeal:active{
    color: #fff;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-ydeal:hover{
    color: #003d63;
}
/*popup*/
.modalPopup {
    text-align: center;
    padding: 0!important;
}
.bg-modal-popup {
    text-align: center;
    padding: 0!important;
    background: transparent;
}
.modalPopup:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}
.modalPopup .modal-dialog {
    width: auto !important;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.bg-modal-popup .close{
    top: 12px;
    z-index: 2;
    right: 15px;
    color: #fff;
    opacity: 1;
    font-size: 28px;
    position: absolute;
    background: transparent;
    text-shadow: 0px 0px 5px #000;
}
/*popup texto*/
.box-popup-texto{
    margin: auto;
    overflow: hidden;
    max-width: 600px;
    background: #191919;
    position: relative;
    padding: 40px 40px 30px 40px;
}
/*popup video*/
.box-popup-video{
    margin: auto;
    height: 366px;
    overflow: hidden;
    max-width: 650px;
}
/*---*/
.page{
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
}
.min-height{
    min-height: 510px;
}
.main-title{
    /*margin-bottom: 50px;*/
    margin-bottom: 20px;
}
.main-title p {
    color: #009eff;
}
.main-title p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
}
.main-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #353535;
    font-family: 'Jost', sans-serif;
}
.sub-titulo{
    color: #353535;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    margin-bottom: 10px;
}
/*---*/
.mapa{
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
}
/*---*/
.bg-h-contato{
/*    padding-top: 50px;
    padding-bottom: 20px;*/
    padding-top: 20px;
    padding-bottom: 10px;
}
.box-form-contato{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.box-horarios{
    width: 100%;
    padding: 40px 40px 30px 40px;
    overflow: hidden;
    position: relative;
    /*background: #fff;*/
    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.h3-editado {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
}
.h3-edit{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.box-horarios div{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.box-hor-min{
    padding: 18px 20px 20px 20px;
    height: 68px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.btn-abs{
    top: 0px;
    left: 50%;
    z-index: 6;
    position: absolute;
    margin-left: -78.54px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
}
.a-whats-contato,.a-whats-contato:focus, .a-whats-contato:active{
    color: #515151;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-whats-contato:hover{
    color: #009eff;
}
/*---*/
.pages{
    /*padding-top: 50px;*/
    padding-top: 20px;
    background: #f4f4f4;
    /*padding-bottom: 20px;*/
    padding-bottom: 10px;
}
.box-texto{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.a-fancy, .a-fancy:focus, .a-fancy:active{
    display: block;
    position: relative;
    margin-bottom: 30px;
    text-decoration: none !important;
}
/*---*/
.bg-filtro{
    /*padding-top: 50px;*/
    padding-top: 30px;
    background: #f9f9f9;
    padding-bottom: 0px;
}
.box-filtros{
    /*margin-bottom: 30px;*/
    margin-bottom: 5px;
}
.wd-100-he-50{
    width: 100%;
    height: 50px;
}
.wd-100{
    width: 100%;
}
/*price*/
.range-slider {
    width: 100%;
    margin: auto;
    height: 50px;
    text-align: center;
    position: relative;
    display: flex;
    padding-bottom: 14px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.range-slider span{
    width: 100%;
}
.range-slider svg,
.range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 15px;
}
.range-slider input[type="text"] {
    border: 0px solid #ddd !important;
    text-align: center !important;
    background: transparent !important;
    font-size: 14px !important;
    height: auto !important;
    margin: auto !important;
    width: 50% !important;
}
.range-slider input[type="text"]:invalid,
.range-slider input[type="text"]:out-of-range {
    border: 0px solid #ff6347 !important;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #009eff;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #009eff;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #009eff;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #009eff;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #009eff;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #009eff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #009eff;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #009eff;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: #009eff;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #009eff;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #009eff;
    cursor: pointer;
}
/*---*/
.a-busca-avancada, .a-busca-avancada:focus, .a-busca-avancada:active{
    color: #353535;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}
.a-busca-avancada:hover{
    color: #2497e3;
}
.a-busca-avancada1, .a-busca-avancada1:focus, .a-busca-avancada1:active{
    color: #353535;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}
.a-busca-avancada1:hover{
    color: #2497e3;
}
/*---*/
.bg-h-imovel{
/*    padding-top: 50px;
    padding-bottom: 50px;*/
    padding-top: 20px;
    padding-bottom: 30px;
}
.a-imovel, .a-imovel:focus, .a-imovel:active{
    width: 100%;
    color: #535353;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-imovel-img{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.box-imovel-img img{
    transition: all 0.3s ease-in-out;
}
.box-imovel-info{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 25px 25px 25px;
}
.box-imovel-info h1 {
    margin: 0px;
    padding: 0px;
    color: #009eff;
    font-size: 22px;
    font-weight: 400;
    height: 26px;
    overflow: hidden;
    margin-bottom: 5px;

}
.box-imovel-loc{
    margin: 0 0 0px;
    height: 22px;
    font-size: 15px;
}
.box-imovel-cod{
    margin: 5px 0 0 0px;
    height: 22px;
    font-size: 14px;
}
.box-imovel-carac{
    white-space: nowrap;
    padding: 20px 25px 20px;
    border-top: 1px solid #e5e5e5;
}

/* Andamento Obra */
.box-mes {
    position: relative;
    padding-top: 1.875rem;
}

.box-mes a {
    display: block;
    
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    text-decoration: none !important;
}

.box-mes a:first-child {
    font-weight: 700;
    color: #1E1E1F !important;
}

.box-ano {
    position: relative;
    padding-bottom: 0.625rem;
}

.box-ano a {    
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    text-decoration: none !important;
}

.box-ano a:first-child {
    font-weight: 700;
    color: #1E1E1F !important;
}

.box-ano .box-gal {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.facilities-list{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #535353;
    height: 64px;
    white-space: nowrap;
}
.facilities-list li {
    list-style: none;
    width: 50%;
    float: left;
    font-weight: 400;
    line-height: 32px;
    font-size: 15px;
}
.facilities-list2{
    height: auto;
}
.facilities-list2 li {
    list-style: none;
    width: calc(100%/4);
    float: left;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
}
.facilities-list li div{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.inline-block{
    display: inline-block;
    margin-right: 2px;
}
.no-radius{
    width: 100%;
    border-radius: 0px;
}
.box-imovel-img .tag{
    top: 20px;
    left: 20px;
    z-index: 3;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 15px;
    position: absolute;
    background: #009eff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-imovel-img .tag-valor{
    left: 20px;
    z-index: 3;
    color: #fff;
    bottom: 20px;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 3px;
    position: absolute;
    background: #009eff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-imovel-img .tag-cod{
    right: 20px;
    z-index: 3;
    color: #fff;
    bottom: 20px;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 3px;
    position: absolute;
    background: #009eff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-imovel-img .destaque {
    background-color: #009eff;
    transform: rotate(45deg);
    right: -55px;
    top: 28px;
    position: absolute;
    text-align: center;
    width: 200px;
    font-size: 14px;
    margin: 0;
    padding: 6px 10px;
    font-weight: 400;
    color: #fff;
    z-index: 3;
    box-shadow: 1px 2px 3px 0 rgb(2 0 0 / 20%);
}
.a-imovel:hover .btn-padrao2{
    color: #ffffff;
    background: #003d63;
}
.a-imovel:hover .box-imovel-img img{
    transform: scale(1.1);
}
.a-imovel:hover{
    color: #535353;
}
.box-detalhe-imovel{
    background: #fff; 
    padding: 20px; 
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.pd-top-mais-imovei{
    /*padding-top: 30px;*/
    padding-top: 10px;
}
/*---*/
.bg-h-empresa{
    /*padding-top: 50px;*/
    padding-top: 20px;
    background: #f4f4f4;
    /*padding-bottom: 50px;*/
    padding-bottom: 30px;
}
.box-texto-max-height{
    margin: auto;
    height: 100px;
    max-width: 750px;
    position: relative;
    /*margin-bottom: 30px;*/
    margin-bottom: 20px;
}
.a-bar, .a-bar:focus, .a-bar:active{
    color: #009eff;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}
.a-bar:hover{
    color: #003d63;
}
.box-filtros-vertical{
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}
.box-filtros-espaco{
    padding: 20px;
}
.filtro-border-topo{
    border-top: 1px solid #e5e5e5;
}
.a-compartilhar, .a-compartilhar:focus, .a-compartilhar:active{
    color: #fff;
    width: 45px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 3px;
    text-align: center;
    background: #008be0;
    margin-bottom: 0px;
    display: inline-block;
    padding: 8px 13px 8px 13px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-compartilhar:hover{
    color: #fff;
}
.icon-facebook:hover { 
    color: #fff;
    background: #1877f2;
}
.icon-twitter:hover{
    color: #fff;
    background: #2aa9e0;
}
.icon-whats:hover{
    color: #fff;
    background: #01e675;
}
.ou{
    padding-top: 5px;
    padding-bottom: 5px;
}
.min-title2{
    padding: 0px;
}
.min-title2 h1{
    margin: 0px;
    padding: 0px;
}
.box-filtros-espaco2{
    padding: 20px 20px;
}
.tag-relative{
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 3px;
    background: #009eff;
    margin-bottom: 15px;
    display: inline-block;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.big-tag-valor{
    top: 20px;
    left: 20px;
    z-index: 9;
    color: #fff;
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 3px;
    background: #009eff;
    position: absolute;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.big-tag-cod{
    top: 20px;
    right: 20px;
    z-index: 9;
    color: #fff;
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 3px;
    background: #009eff;
    position: absolute;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-detalhe{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.box-detalhe h3{
    margin-bottom: 10px;
}
.map{
    border: solid 1px #e5e5e5;
}
.loc-latlang{
    padding-left: 2px;
}
.pdr{
    margin-right: 10px;
}
.mg-30{
    margin-bottom: 30px;
}
.box-galeria-img{
    overflow: hidden;
    max-height: 399px;
    position: relative;
}
.box-galeria-img .owl-banner3 .item{
    height: 399px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #dcdcdc;
}
.cur-pointer{
    cursor: pointer;
}
.box-swipe{
    display: none;
}
/*---*/
.box-filtro-open{
    width: 100%;
    color: #515151;
    overflow: hidden;
    position: relative;
    /*padding: 20px 0px;*/
    padding: 0px 0px;
    margin-bottom: 50px;
}
.box-filtro-open .fa{
    /*top: 23px;*/
    top: 5px;
    right: 0px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.box-filtro-ver-open{
    width: 100%;
    /*color: #515151;*/
    overflow: hidden;
    position: relative;
    padding: 20px 20px;
    /*margin-bottom: 50px;*/
}
.box-filtro-ver-open .fa{
    top: 23px;
    right: 20px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.box-filtros-close{
    display: none;
}
/*---*/
.box-crono-circle{
    width: 100%;
    color: #fff;
    padding: 8px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #003d63;
    border-radius: 3px;
    margin-bottom: 30px;
    border: solid 0px #003d63;
}
.info-circle{
    width: 100%;
    z-index: 99;
    position: relative;
}
.porcentagem{
    top: 0px;
    left: 0px;
    width: 50%;
    z-index: 9;
    height: 40px;
    position: absolute;
    background: #009eff;
}
/*---*/
.bg-central-atendimento{
    color: #fff;
    height: 180px;
    display: flex;
    /*margin-top: 20px;*/
    margin-top: 0px;
    background: #009eff;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.tamanho-fonte-central{
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
}
.tamanho-fonte-central span{
    font-size: 30px;
}
.height-58{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.div-search{
    text-align: center;
    padding: 10px 14px;
    border-radius: 50%;
    border: solid 3px #fff;
    margin-right: 10px;
}
.div-inline{
    display: inline-block;
}
.a-whats-central, .a-whats-central:focus, .a-whats-central:active{
    color: #fff;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-whats-central:hover{
    color: #009eff;
}
/*---*/
.bg-praia-sonho{
    /*padding-top: 40px;*/
    padding-top: 25px;
    background: #009eff;
    /*padding-bottom: 20px;*/
    padding-bottom: 0px;
}
.bg-praia-sonho .main-title h1{
    color: #fff;
}
.bg-praia-sonho .main-title p{
    color: #000;
}
.a-praia, .a-praia:focus, .a-praia:active{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-praia h1{
    margin: 0px;
    padding: 0px;
    color: #000;
    font-size: 17px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.box-praia-img{
    padding: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 50%;
    background: #009eff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}
.box-praia-img img{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.a-praia:hover .box-praia-img img{
    transform: scale(1.2);
}
.box-banner-praia-sonho{
    margin-bottom: 80px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.box-capa-radius{
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.box-capa-radius img{
    margin-right: 4%;
    border: solid 4px #009eff;
    border-radius: 50%;
    max-width: 280px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
/*---*/
.box-filtro-lateral-lista{
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
}
.a-filtro-lateral, .a-filtro-lateral:focus, .a-filtro-lateral:active{
    width: 100%;
    color: #999;
    display: block;
    position: relative;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}
.a-filtro-lateral:hover{
    color: #009eff;
}
.a-filtro-lateral-active{
    color: #009eff;
}
/*---*/
@media only screen and (min-width: 1921px) {
    .container{
        width: 100% !important;
        max-width: 1920px;
        overflow: hidden;
    }
    .container-fluid{
        width: 100% !important;
        max-width: 1920px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1500px) {
    /*padrao 1 arrows*/
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        left: 30px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        right: 30px;
    }
}

@media only screen and (max-width: 1199px) {
    .a-menu, .a-menu:focus, .a-menu:active{
        margin-right: 35px;
    }
    .box-galeria-img{
        max-height: 325px;
    }
    .box-galeria-img .owl-banner3 .item{
        height: 325px;
    }
}

@media only screen and (max-width: 991px) {
    .align-mobile-sm{
        text-align: center !important;
    }
    .box-hor-min{
        justify-content: center;
    }
    .box-galeria-img{
        max-height: 383px;
    }
    .box-galeria-img .owl-banner3 .item{
        height: 383px;
    }
}
@media only screen and (max-width: 767px) {
    .pdr{
        float: left !important;
    }
    .facilities-list2 li {
        width: calc(100%/2);
    }
    .box-galeria-img{
        overflow: hidden;
        max-height: 186px;
        position: relative;
    }
    .box-galeria-img .owl-banner3 .item{
        height: 186px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: #dcdcdc;
    }
    .box-swipe{
        right: 15px;
        z-index: 9;
        bottom: 15px;
        display: block;
        max-width: 30px;
        position: absolute;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        display: none !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        display: none !important;
    }
    .bg-filtro{
        padding-top: 20px;
    }
    .box-filtro-open{
        margin-bottom: 20px;
    }
    .box-filtros{
        display: flex;
    }
    .tamanho-fonte-central{
        text-align: center !important;
    }
    .height-58{
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 580px) {
    .align-mobile{
        text-align: center !important;
    }
    .big-tag-cod{
        top: auto;
        bottom: 20px;
        right: auto;
        left: 20px;
    }
}

.value-layout {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 15px;
}

.space {
    margin-top: 65px;
    margin-left: 25px;
  }
  
  .no-radius {
    width: 100%;
    border-radius: 0px;
  }